/* main.css */
@import url("fonts.css");
@import url("about.css");
@import url("projects.css");
@import url("work.css");
@import url("navbar.css");
@import url("loadingScreen.css");
@import url("fullscreen.css");
@import url("sidebar.css");


:root {
    --primary-color: #836FFF;
    --secondary-color: #E1AA74;
    --accent-color: #F3F0CA;
    --background-color: #211951;
    --background-dark: #110d2a;
    --background-black: #050507;
    --text-color: #ffffff;

    --primary-font: 'Bumbu';
    --secondary-font: 'Futura';
    --third-font: 'Seibi';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    overflow: hidden; /* Prevent scrolling */
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: #000000; */
}

#fps-counter {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1000;
}


.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.mainSlide {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.slides {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    position: relative;
    height: 100%; /* Ensure the slides take full height */
}

.section {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 1s ease-in-out;

    z-index: 1; /* Base z-index */
    pointer-events: none; /* Disable interactions by default */
}

.section.active {
    z-index: 2; /* Higher z-index when active */
    pointer-events: auto; /* Enable interactions when active */
}

.section .about,
.section .work,
.section .projects {
    position: absolute;
    min-width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;

    align-items: center;
    justify-content: center;
    font-size: 2rem;

    transition: transform 1s ease-in-out;
    will-change: transform;
}


.vignette {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200vw 2vw rgba(0, 0, 0, 0.9) inset;
}


.get-in-touch-name {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9000;
    color: #ffffff;
    padding: 20px;

    font-family: var(--third-font);
    font-size: larger;
}

.get-in-touch-info {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9000;
    color: #ffffff;
    padding: 20px;

    font-family: var(--third-font);
    font-size: larger;
}

video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon {
    width: 24px;
    height: 24px;
    object-fit: contain; /* Keep icon proportions */
    cursor: pointer;
    transition: transform 0.2s ease;
}

.icon:hover {
    transform: scale(1.2); /* Slightly enlarge on hover */
}