.navbar ul li a {
    color: gray;
    transition: color 0.3s ease;

    font-size: clamp(0.7rem, 2vw, 1.6rem);
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 200;
}

/* Hover effect */
.navbar ul li a:hover {
    color: var(--secondary-color);
}

.navbar ul li a.active {
    color: var(--text-color); /* Color for the active (selected) link */
    font-weight: 300;
}

.navbar li{
    justify-content: center;
    align-items: center;
    align-self: center;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-image: url('/SVG/TopBarV2.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul {
    width: calc((130px * 10.3914) - 400px);
    height: 130px;
    display: flex;
    
    /* Evenly distribute left, center, and right */
    justify-content: space-between;
    align-items: center;
}

.nav-left,
.nav-right {
    display: flex;
    gap: clamp(0.2rem, 1.2vw, 1rem);
    padding-bottom: clamp(1rem, 2.3vw, 2.3rem);
}

.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: clamp(0rem, 2vw, 0.5rem);
}
.nav-left li,
.nav-right li,
.nav-center object {
    display: flex;
    align-items: center;
}

.svg-nav{
    width: clamp(1rem, 4.5vw, 4.5rem);
}


.language span {
    color: gray;
    cursor: pointer;
    transition: color 0.3s;
}

.language span:hover {
    color: var(--secondary-color);
}

.language .selected {
    color: var(--text-color);
    font-weight: bold;
}