/* project.css */
.projects.pro1 {
    /* background-image: url('/Images/wallpaperTemp-enhance.png');
    background-size: cover;
    background-position: center;
    color: #ffffff; */

    /* transition: transform 1s ease-in-out; */
    transform: translateY(0);
}


.projects.pro2 {
    /* background-image: url('/Images/wallpaperTemp-enhance.png');
    background-size: cover;
    background-position: center;
    color: #ffffff; */

    /* transition: transform 1s ease-in-out; */
    transform: translateY(100%);
}

.projects.pro3 {
    /* background-image: url('/Images/wallpaperTemp-enhance.png');
    background-size: cover;
    background-position: center;
    color: #ffffff; */

    /* transition: transform 1s ease-in-out; */
    transform: translateY(100%);
}