/* project.css */
/* TODO: Make a grid style for projects and work if you have extra time */

.projects.pro1 {
    /* background-image: url('/Images/wallpaperTemp-enhance.png');
    background-size: cover;
    background-position: center;
    color: #ffffff; */
    /* background: #a21f1f; */
    
    transform: translateY(0);
}


.projects.pro2 {
    /* background-image: url('/Images/wallpaperTemp-enhance.png');
    background-size: cover;
    background-position: center;
    color: #ffffff; */

    transform: translateY(100%);
}

.projects.pro3 {
    /* background-image: url('/Images/wallpaperTemp-enhance.png');
    background-size: cover;
    background-position: center;
    color: #ffffff; */

    transform: translateY(100%);
}