.sidebar {
    width: 15%;
    height: 100%; /* Sidebar fills viewport height */
    /* background-color: #333; */
    color: var(--text-color);
    padding: 20px;
    position: absolute; /* Overlay on top of slides */
    top: 0;
    left: 0;
    z-index: 9; /* Ensure sidebar is above slides */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sidebar ul {
    list-style: none;
    margin: 0 auto; /* Center the ul horizontally */
    width: 70%;
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
    font-family: var(--third-font);
    font-size: 150%;
    color:gray;
    border-radius: 20px;
    text-align: left; /* Keep text left-aligned within the li */

    filter: drop-shadow(0 0 3px rgb(0, 0, 0));
}

.sidebar ul li:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.sidebar ul li.active {
    color: var(--text-color); /* Ensure text color stands out */
    padding-left: 20px;
    font-weight: bold;
}

.sidebar-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        95deg,
        rgb(0, 0, 0) 10%,
        rgba(0, 0, 0, 0.505) 40%,
        rgba(255, 255, 255, 0) 70%
    ),
    linear-gradient(
        85deg,
        rgb(0, 0, 0) 10%,
        rgba(0, 0, 0, 0.60) 40%,
        rgba(255, 255, 255, 0) 70%
    );
}