/* work.css */
.work {
    position: absolute;
    min-width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;

    align-items: center;
    justify-content: center;
    font-size: 2rem;

    transition: transform 1s ease-in-out;
    will-change: transform;
}

.work.exp1 {
    /* background-image: url('/Images/wallpaperTemp-enhance.png');
    background-size: cover;
    background-position: center;
    color: #ffffff; */

    transform: translateY(0);
}


.work.exp2 {
    /* background-image: url('/Images/wallpaperTemp-enhance.png');
    background-size: cover;
    background-position: center;
    color: #ffffff; */

    transform: translateY(100%);
}

.work.exp3 {
    /* background-image: url('/Images/wallpaperTemp-enhance.png');
    background-size: cover;
    background-position: center;
    color: #ffffff; */

    transform: translateY(100%);
}