/* work.css */
.svg-drop-down {
    width: clamp(0.7rem, 1.7vw, 1.7rem);
    pointer-events: none;
    filter: invert();

    opacity: 1; /* Fully visible by default */
    visibility: visible; /* Visible by default */
    transition: opacity 0.3s ease, visibility 0.3s ease;
    position: absolute; /* Ensure proper positioning */
    bottom: 10px; /* Place it near the bottom of the job-section */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
    z-index: 5; /* Ensure it is above content */
}

.job-section:hover .svg-drop-down {
    opacity: 0; /* Fade out on hover */
    visibility: hidden; /* Make it invisible on hover */
}

.work.exp1 {
    color: #ffffff;
    height: 100%;
    width: 100%;
    
    transform: translateY(0);
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr;
    height: 65%;
    width: 90%;
    max-width: 1100px;
    position: relative;
    gap: 20px;
}

@keyframes gradientAnimationIn {
    0% { background: linear-gradient(140deg, rgba(106, 106, 106, 0.171), rgba(0, 0, 0, 0)); }
    10% { background: linear-gradient(132deg, rgba(98, 98, 98, 0.2), rgba(0, 0, 0, 0)); }
    20% { background: linear-gradient(124deg, rgba(90, 90, 90, 0.25), rgba(0, 0, 0, 0)); }
    30% { background: linear-gradient(116deg, rgba(82, 82, 82, 0.3), rgba(0, 0, 0, 0)); }
    40% { background: linear-gradient(108deg, rgba(74, 74, 74, 0.35), rgba(0, 0, 0, 0)); }
    50% { background: linear-gradient(100deg, rgba(66, 66, 66, 0.4), rgba(0, 0, 0, 0)); }
    60% { background: linear-gradient(92deg, rgba(58, 58, 58, 0.42), rgba(0, 0, 0, 0)); }
    70% { background: linear-gradient(84deg, rgba(50, 50, 50, 0.44), rgba(0, 0, 0, 0)); }
    80% { background: linear-gradient(76deg, rgba(42, 42, 42, 0.46), rgba(0, 0, 0, 0)); }
    90% { background: linear-gradient(68deg, rgba(30, 30, 30, 0.48), rgba(0, 0, 0, 0)); }
    100% { background: linear-gradient(60deg, rgba(18, 18, 18, 0.5), rgba(0, 0, 0, 0)); }
}

@keyframes gradientAnimationOut {
    0% { background: linear-gradient(60deg, rgba(18, 18, 18, 0.5), rgba(0, 0, 0, 0)); }
    10% { background: linear-gradient(68deg, rgba(30, 30, 30, 0.48), rgba(0, 0, 0, 0)); }
    20% { background: linear-gradient(76deg, rgba(42, 42, 42, 0.46), rgba(0, 0, 0, 0)); }
    30% { background: linear-gradient(84deg, rgba(50, 50, 50, 0.44), rgba(0, 0, 0, 0)); }
    40% { background: linear-gradient(92deg, rgba(58, 58, 58, 0.42), rgba(0, 0, 0, 0)); }
    50% { background: linear-gradient(100deg, rgba(66, 66, 66, 0.4), rgba(0, 0, 0, 0)); }
    60% { background: linear-gradient(108deg, rgba(74, 74, 74, 0.35), rgba(0, 0, 0, 0)); }
    70% { background: linear-gradient(116deg, rgba(82, 82, 82, 0.3), rgba(0, 0, 0, 0)); }
    80% { background: linear-gradient(124deg, rgba(90, 90, 90, 0.25), rgba(0, 0, 0, 0)); }
    90% { background: linear-gradient(132deg, rgba(98, 98, 98, 0.2), rgba(0, 0, 0, 0)); }
    100% { background: linear-gradient(140deg, rgba(106, 106, 106, 0.171), rgba(0, 0, 0, 0)); }
}

.glass {
    background: linear-gradient(140deg, rgba(106, 106, 106, 0.171), rgba(0, 0, 0, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);

    padding: 15px 25px;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    will-change: background;
    transform: translateZ(0);
    backface-visibility: hidden;
    animation: gradientAnimationOut 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.glass:hover {
    animation: gradientAnimationIn 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.exp1-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(217deg, rgba(98, 69, 18, 0.876), rgba(0, 0, 0, 0.106) 70%),
    linear-gradient(127deg, rgba(19, 104, 98, 0.607), rgba(89, 0, 255, 0.487) 70%),
    linear-gradient(336deg, rgba(10, 20, 88, 0.874), rgba(0, 0, 0, 0.851) 70%);

    background-size: cover;
    background-position: center;
}

.job-position {
    grid-column: 1 / 2;
    justify-self: start;
    align-self: center;
    
    font-family: var(--secondary-font);
    font-weight: 200;
    font-size: clamp(0.7rem, 1.3vw, 2rem);

    display: inline-block; /* This ensures the background wraps the text */
    width: auto; /* Makes the width auto so it wraps only the content */
    max-width: fit-content; /* Ensures the width doesn't stretch */
    white-space: nowrap; /* Prevents the text from wrapping to a new line */
}

.job-period {
    grid-column: 2 / 3;
    justify-self: end;
    align-self: center;

    font-size: clamp(0.7rem, 1.2vw, 2rem);
    font-family: var(--primary-font);
    font-weight: 300;
}

.microGPT-container {
    grid-column: 1 / 3;
    align-self: center;
    justify-self: center;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.microGPT-title {
    font-size: clamp(0.7rem, 3vw, 30rem);
    font-family: var(--secondary-font);
    text-align: center;
}

.svg-microGPT {
    width: clamp(0.7rem, 6vw, 10rem);
    margin-right: 2vw;
    /* allows events to occur over svg */
    pointer-events: none;
}

.job-descriptions {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-self: end;
    margin-top: 20px;
}

.job-section {
    display: grid;
    grid-template-rows: auto auto 1fr; /* Allocate remaining space to the last element */
    text-align: left;
    overflow: hidden;
    transition: all 0.5s ease;
    position: relative;
    max-height: 190px;

    width: 100%;
    max-width: 100%;
    overflow-wrap: break-word;
}

.job-section:hover {
    max-height: 1000px;
    z-index: 10;
}

.work-icons {
    display: flex;
    justify-content: left; /* align icons left */
    gap: 8px; /* Add space between icons */
    margin-top: 8px; /* Reduce top margin */

    max-width: 100%;
    flex-wrap: wrap;
}

.job-section .additional-content {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, height 0.3s ease;
    transition-delay: 0.2s;

    width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
}

.job-section:hover .additional-content {
    opacity: 1;
    visibility: visible;
}


.job-section {
    font-size: clamp(0.7rem, 1vw, 1rem);
    font-family: var(--secondary-font);
    font-weight: 200;
    
    color: #c0c0c0;
}

.job-section h3 {
    font-size: clamp(0.7rem, 1.3vw, 1.5rem);
    font-family: var(--secondary-font);
    color: var(--text-color);
    margin-bottom: 7px;
}

.additional-content ul {
    margin-top: 10px;
    padding-left: 20px; /* Indent list items */
    list-style-type: disc; /* Classic bullet style */
}

.additional-content ul ul {
    list-style-type: circle; /* Nested bullets with circle style */
    margin-top: 3px; /* Slight spacing for nested items */
}

.additional-content li {
    margin-bottom: 5px; /* Space between list items */
}

.additional-content li strong {
    color: var(--primary-color); /* Bold text is different color for emphasis */
}



.work.exp2 {
    /* background-image: url('/Images/wallpaperTemp-enhance.png');
    background-size: cover;
    background-position: center;
    color: #ffffff; */

    transform: translateY(100%);
}

.work.exp3 {
    /* background-image: url('/Images/wallpaperTemp-enhance.png');
    background-size: cover;
    background-position: center;
    color: #ffffff; */

    transform: translateY(100%);
}