/* work.css */
.work.exp1 {
    /* background-image: url('/Images/wallpaperTemp-enhance.png');
    background-size: cover;
    background-position: center;
    color: #ffffff; */

    transform: translateY(0);
}


.work.exp2 {
    /* background-image: url('/Images/wallpaperTemp-enhance.png');
    background-size: cover;
    background-position: center;
    color: #ffffff; */

    transform: translateY(100%);
}

.work.exp3 {
    /* background-image: url('/Images/wallpaperTemp-enhance.png');
    background-size: cover;
    background-position: center;
    color: #ffffff; */

    transform: translateY(100%);
}